<html>
    <head>
        <title>Jigs Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Jigs Blog</a></h1>
        </div>

        <div>
            <p>published: 05.12.2017, 03:30</p>
            <h2><a href="">My first post</a></h2>
            <p>It's really a fun learning HTML.</p>
        </div>

        <div>
            <p>published: 05.12.2017, 03:30</p>
            <h2><a href="">My second post</a></h2>
            <p>Looking forward to make it online.</p>
        </div>
    </body>
</html>